@using DevTool.Common;


<style>
    #categories div:hover {
        color: #ba5911;
    }

    #FieldInfoArea .data {padding:3px;}

    #FieldInfoArea .data .label {
        display:block; width:100%; text-align:left;
    }
</style>

@Html.Partial("_GridTemplate")
@Html.Partial("_TreeTemplate")

  
@* Category Edit *@
<div style="width:1080px;">
    <div class="area" style="width:300px;">
        <div class="title">Category Tree </div>
        <div  id="CategoriesTree" data-url-fields="@Url.Content("~/Home/GetCategoryFields")" >
            <tree v-bind:model="treeData" v-on:select="nodeClick">
            </tree>
        </div>
    </div>
     
    <div class="area" style="width:410px;">
        <div id="Category"
             data-url-update="@Url.Content("~/Home/UpdateCategoryName")"
             data-url-add="@Url.Content("~/Home/InsertCategory")"
             data-url-delete="@Url.Content("~/Home/DeleteCategory")">
            <div class="title">Category Info -- {{OriginCategoryName}} <div style="float:right; "><button v-on:click="deleteCtg" class="button" title="Delete Selected Category" disabled="{{Disabled}}">Delete</button></div></div>

            <div class="row">
                <label class="label"> Category Name:</label>
                <span class="value">
                    <input id="txtCurrentCategoryName" class="textbox" type="text" v-model="CurrentCategoryName" style="width:150px;" disabled="{{Disabled}}" />
                </span>
                 
            </div>
            <div class="row">
                <label class="label"> Related Table Name:</label>
                <span class="value">
                    <input class="textbox" type="text" v-model="MainTable" style="width:150px;" disabled="{{Disabled}}" />
                </span>

                <button v-on:click="saveCtgName" class="button" title="Save Selected Category Name" disabled="{{Disabled}}">Save</button>
            </div>

            <div class="row">
                <label class="label"> Add Child Category:</label>
                <span class="value">
                    <input class="textbox" type="text" v-model="ChildCategoryName" placeholder="New Category Name" style="width:150px;" disabled="{{Disabled}}" />
                </span>
                <button v-on:click="addChildCtg" class="button" title="Add New Child Category to Selected Category" disabled="{{Disabled}}">Add</button>
            </div>
        </div>

        
        <!-- demo root element -->
        <div id="elCategoryFields" style="margin-top:15px;" data-url-select="@Url.Content("~/Home/SelectFields")" data-url-field="@Url.Content("~/Home/GetField")">
            <div class="title">Fields Info <div style="float:right; ">
                <button v-on:click="openAddFields" class="button" title="Add fields to current category." disabled="{{Disabled}}">Add Field</button>
                </div>
            </div>
            <grid v-bind:data="gridData" v-bind:columns="gridColumns" v-on:select="select"  >
            </grid>
        </div>
    </div>
     
     

    <div id="FieldInfoArea" class="area" style="width:230px; margin-top:10px;"  >
        <div class="title">Field Info  </div> 

        <div class="data" v-if="Field != null">
            <label class="label">Field Name:</label>
            <span class="value">
                <input class="textbox" type="text" v-model="Field.FieldName" placeholder="New Category Name" style="width:150px;"  />
            </span>
        </div>
     </div>
</div>

 
<script src="~/Views/Home/Index.js"></script>

<script> 
    var CategoryTreeData =@Html.Raw( UiHelper.CategoryTree().ToJson());
</script>