@using DevTool.Common;

@model DevTool.Models.HomeIndexModel

<style>
    #categories div:hover {
        color: #ba5911;
    }

    #FieldInfoArea .data {
        padding: 3px;
    }

        #FieldInfoArea .data .label {
            display: block;
            width: 100%;
            text-align: left;
            margin: 10px 0 3px 3px;
        }
</style>

@Html.Partial("_GridTemplate")
@Html.Partial("_TreeTemplate")


@* Category Edit *@
<div style="min-width:1160px;">
    <div class="area" style="width:300px;">
        <div class="title">Category Tree </div>
        <div id="CategoriesTree" data-url-delete="@Url.Content("~/Home/DeleteCategory")">
            <tree v-bind:model="treeData" v-on:select="nodeClick" v-ref:tree>
            </tree>
        </div>
    </div>

    <div class="area" style="width:600px;">
        <div id="Category"
             data-url-update="@Url.Content("~/Home/UpdateCategoryName")"
             data-url-add="@Url.Content("~/Home/InsertCategory")">
            <div class="title">Category Info -- {{OriginCategoryName}} <div style="float:right; "><button v-on:click="deleteCtg" class="button" title="Delete Selected Category" disabled="{{Disabled}}">Delete</button></div></div>

            <div class="row">
                <label class="label"> Category Name:</label>
                <span class="value">
                    <input id="txtCurrentCategoryName" class="textbox" type="text" v-model="Category.CategoryName" style="width:150px;" disabled="{{Disabled}}" />
                </span>

            </div>
            <div class="row">
                <label class="label"> Related Table Name:</label>
                <span class="value">
                    <input class="textbox" type="text" v-model="Category.MainTable" style="width:150px;" disabled="{{Disabled}}" />
                </span>

                <button v-on:click="saveCtgName" class="button" title="Save Selected Category Name" disabled="{{Disabled}}">Save</button>
            </div>

            <div class="row">
                <label class="label"> Add Child Category:</label>
                <span class="value">
                    <input class="textbox" type="text" v-model="ChildCategoryName" placeholder="New Category Name" style="width:150px;" disabled="{{Disabled}}" />
                </span>
                <button v-on:click="addChildCtg" class="button" title="Add New Child Category to Selected Category" disabled="{{Disabled}}">Add</button>
            </div>
        </div>


        <!-- demo root element -->
        <div id="elCategoryFields" style="margin-top:15px;"
             data-url-fields="@Url.Content("~/Home/GetCategoryFields")"
             data-url-select="@Url.Content("~/Home/SelectFields")"
             data-url-field="@Url.Content("~/Home/GetField")"
             data-url-genereate="@Url.Content("~/Home/Generate")">
            <div class="title">
                Fields Info
                <div style="float:right; ">
                    <button v-on:click="openAddFields" class="button" title="Select fields to add to current category." disabled="{{Disabled}}">Select Field</button>
                    <button v-on:click="addComputedField" class="button" title="Add Computed Field." disabled="{{Disabled}}">Add Computed Field</button>
                </div>
            </div>
            <grid v-bind:data="gridData" v-bind:columns="gridColumns" 
                  v-on:onselect="selectField" v-on:ondelete="deleteField">
            </grid>

            <div v-if="gridData!=null && gridData.length>0">
                <div style="text-align:right; padding:5px; line-height:30px;">
                    <button class="button" v-on:click="generateView">Generate View</button>
                    <button class="button" v-on:click="generateEntity">Generate Entity</button>
                    <button class="button" v-on:click="generateSql">Generate SQL</button>
                    <button class="button" v-on:click="generateKiml">Generate KIML</button>
                    <button class="button" v-on:click="generateHtml">Generate HTML</button>
                </div>

                <div v-if="GeneratedText!=''">
                    <textarea style="width:95%; height:200px;">{{GeneratedText}}</textarea>
                </div>

            </div>

        </div>
    </div>

    <div id="FieldInfoArea" class="area" style="width:230px; margin-top:10px; display:none;"
         data-url-save="@Url.Content("~/Home/SaveCategoryField")" >
        
        <div class="data" v-if="Field != null">
            <label class="label">Field Name:</label>
            <span class="value">
                <input readonly class="textbox readonly" type="text" v-model="Field.FieldName" style="width:150px;" />
            </span>

            <label class="label">Table Name:</label>
            <span class="value">
                <input readonly class="textbox readonly" type="text" v-model="Field.TableName" style="width:150px;" />
            </span>

            <label class="label">Field Label:</label>
            <span class="value">
                <input class="textbox" type="text" v-model="FieldLabel" style="width:150px;" />
            </span>

            <label class="label">Entity Property Name:</label>
            <span class="value">
                <input class="textbox" type="text" v-model="EntityProperty" style="width:150px;" />
            </span>

            <label class="label">Order Index:</label>
            <span class="value">
                <input class="textbox" type="text" v-model="ControlIndex" style="width:150px;" />
            </span>

            <label class="label">Control Type:</label>
            <span class="value">
                <select class="textbox" type="text" v-model="Field.ControlTypeId" style="width:150px;">
                    <option v-for="ctlType in ControlTypes" v-bind:value="ctlType.ControlTypeId">{{ctlType.ControlTypeName}}</option>
                </select>
            </span>

            <div style="text-align:center; padding:5px;">
                <button class="button" v-on:click="save">Save</button>
            </div>

        </div>
    </div>
</div>

<div style="clear:both;"></div>
<script src="~/Views/Home/Index.js"></script>

<script>

    $(function(){
        veTree.treeData = @Html.Raw( UiHelper.CategoryTree().ToJson());
        veField.ControlTypes = @Html.Raw(Model.DevControlTypes.ToJson());
    })

</script>