@using MvcGrid.Models;
@using System.Data;
@using System.Collections.Generic;

@model GridModel
 
<link href="~/Content/grid.css" rel="stylesheet" /> 

<table id="@Model.Id" class="grid">
    <thead>
        <tr>
            @foreach (var item in Model.Fields)
            { 
                <td @Html.Raw(item.GetHeaderAttrs(Model))>
                    @item.FieldTitle <span class="order-icon">@Html.Raw(item.GetOrderChar(Model))</span>
                </td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Data.Rows)
        {
            <tr>
                @foreach (var item in Model.Fields)
                {
                    <td>@item.Format(row[item.FieldName])</td>
                }
            </tr>
        }
    </tbody>
</table>

 <script>
     jq.log("[GRID] Rendor OK,  Sort Field: "+"@Model.SortField");

     function _Grid_OrderBy(td){
        jq.log("-------------EVENT STARTING----------------------");

        var field = $(td).attr("data-field");
        var asc = $(td).attr("data-asc")!="1";
        var fnOrderBy = "@Model.JsSortFunction";

        if(fnOrderBy == ""){
            alert("Please set JsOrderFunction for GridModel.");
            return;
        }

        if(typeof(fnOrderBy) == "undefined"){
            alert("Undefined function: " +fnOrderBy);
            return;
        }

        jq.log("[GRID] Sort Callback: " +"@Model.JsSortFunction - " + field + " - " +asc);

        @(Model.JsSortFunction)( field, asc ) ;
    }

     $(function(){
        $("Table#@Model.Id").parent().attr("data-grid" , "@Model.Id");
     })

     jq.log("-------------EVENT END----------------------");
 </script>

