<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Synvata Development Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.ex.js"></script>
</head>
<body>
    <div class="apptitle" >
        Synvata Development Tool
    </div>

    <div class="row menu">
        <span>@Html.ActionLink("Home", "Index", "Home")</span>
        <span>@Html.ActionLink("View Builder", "Index", "ViewBuilder")</span>
        <span>@Html.ActionLink("Contact", "Contact", "Home")</span>
    </div>
    @*@Html.Partial("_LoginPartial")*@

    <div class="container body-content" style="min-width:1024px;">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
